* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: #eeeeee;
}

a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a {
    color: #808080;
    text-decoration: none;
}

a:focus {
    color: #808080;
    outline: none !important;
}

a:hover {
    color: #808080;
    text-decoration: underline;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

#banner {
    padding: 10px;
}

#title {
    padding-top: 5px;
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
}

#controls {
    left: calc(50% + 200px);
    display: inline-block;
    white-space: nowrap;
}

#twinlink,
#tablelink {
    font-size: 30px;
    margin: 15px;
}

#twinlink {
    color: #ff0000;
}

#tablelink {
    color: #222222;
    background-color: #ffff99;
}

.control {
    padding-right: 10px;
    white-space: nowrap;
}

.close {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 385px;
    float: right;
    position: absolute;
    top: 0;
    cursor: pointer;
}

#loader {
    font-size: 100px;
    color: #f8eb67;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    z-index: 100;
    transform: translate(-50%, -50%);
}

.scroll {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

#details {
    background-color: #ffffff;
    border-radius: 10px;
    width: 430px;
    height: 720px;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    z-index: 200;
    transform: translate(-50%, -50%);
}

#details-traits {
    max-height: 260px;
    overflow: auto;
}

.trait {
    white-space: nowrap;
}

.title {
    font-weight: bold;
}

table {
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

tr:hover {
    background-color: #ffff99;
}

th,
td {
    padding: 5px;
    white-space: nowrap;
    cursor: pointer;
}

th {
    font-weight: bold;
    font-size: 15px;
    color: #f8eb67;
    line-height: 1.4;
    background-color: #222222;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: left;
}

td {
    font-size: 13px;
    color: #808080;
    line-height: 1.2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.zebra {
    background-color: #f5f5f5;
}

.caret {
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    padding: 5px;
    display: block;
}

.fa {
    display: inline;
}

.fa-sort {
    color: #555555;
}

.twins {
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
}

.sibling {
    font-weight: bold;
    padding-bottom: 10px;
}

.twin {
    font-size: 13px;
    width: 170px;
    height: 175px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.picture {
    background-color: #ff0000;
    width: 150px;
    height: 150px;
    padding: 0px;
}

.complete {
    background-color: #ffff99;
    border: 1px solid #222222;
}